.darkMode{
    background-color: darken($grisOscuro,10);//cambiamos el color de fondo a gris oscuro
    p,blockquote{
        color: $blanco;
    }
    a,h1,h2,h3,h4{
        color: $gris;
    }
    .anuncio, .resumen-propiedad{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        .precio{
           color: $verde; 
        }
        .icono{
        filter: invert(100%);//invertimos el color del icono para que se vea bien en el fondo oscuro
        }
    }
    .texto-nosotros blockquote{
        color:$black;
    }

    .formulario{
        label,legend,p{
            color: $gris;
        }
        input:not([type="submit"]),textarea,
        select{
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }
    .propiedades{
        background-color: $grisOscuro;
        td{
            color: $blanco;
            background-color: $grisOscuro;
            border-color: darken($grisOscuro, 10%);
        }
    }
}